/* ***************** CONTAINER LOGIN  ***************** */
.container-main-login {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 34px 0px;
}

.container-login {
    border-radius: 10px;
    display: flex;
    overflow: auto;
    box-shadow: 7px 7px 11px #000000;
}

/* ***************** LOGIN - PART LEFT  ***************** */
.login-part-left {
    background: var(--primary);
    width: 50%;
    text-align: center;
    padding: 2rem 5rem 8rem;
}

.login-contain-form {
    text-align: left;
}

.login-left-title {
    color: var(--sixth);
    font-size: 18px;
    padding: 30px 0px 5px;
}

.login-form-text {
    color: white;
    font-size: 18px;
    text-align: left;
}

.login-left-btn {
    background: var(--third);
    color: var(--sixth);
}

.login-left-btn:hover {
    transition: 0.7s;
    background: var(--thirdHovered);
    color: var(--sixth);
}

.login-error {
    color: red;
    position: absolute;
    margin: auto;
}

/* ***************** LOGIN - PART RIGHT  ***************** */
.login-part-right {
    width: 50%;
}

.login-img-right {
    width: 100%;
    height: 100%;
}

/* ***************** LOGIN - RESPONSIVE  ***************** */
@media only screen and (max-width: 1300px) {
    .container-login {
        margin: auto;
        overflow: hidden;
    }

    .login-part-left {
        width: 100%;
    }

    .login-part-right {
        visibility: hidden;
        width: 0;
    }

    .login-error {
        font-size: 11px;
    }
}

@media only screen and (max-width: 755px) {
    .container-main-login {
        width: 90%;
    }

    .login-part-left {
        padding: 2rem 3rem 8rem;
    }
}
