.container-dashboard {
    width: 85%;
    margin: auto;
    padding: 20px;
}

/* MÓDULOS */

.container-modules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.dashboard-module {
    background: #F5F1F1;
    box-shadow: 7px 7px 11px #000000;
    padding: 20px;
    margin: 30px auto;
}

.dashboard-module:hover {
    box-shadow: 3px 1px 21px teal;
}

.dashboard-module-href {
    text-decoration: none;
    color: black;
}

.dashboard-module-href:hover {
    color: var(--third);
}

.module-top {
    display: flex;
    border-bottom: 2px solid black;
}

.dashboard-icon-bg {
    background-color: var(--third);
    display: flex;
    padding: 3px 25px;
    margin: -60px 20px 35px;
    text-align: center;
    border-radius: 50px;
}

.dashboard-icon {
    fill: var(--sixth);
    -webkit-transition: 1s linear;
    transition: 0.5s ease-out;
}

.dashboard-module-href:hover .dashboard-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.dashboard-module-href:hover .dash-icon-acceder {
    transform: scale(1.5);
}

.module-top-text {
    width: 140px;
    margin-left: 20px;
}

.module-bottom-text {
    display: flex;
    padding-top: 15px;
}

/* RESPONSIVE */

@media only screen and (max-width: 500px) {
    .container-dashboard {
        width: 100%;
        padding: 30px;
    }

    .dashboard-text-sup {
        font-size: 23px;
    }

    .module-top-text {
        font-size: 20px;
        text-align: center;
    }

    .module-bottom-text h4 {
        font-size: 16px;
    }
}